<div class="jumbotron">
        <h1 class="display-3">RxComposer - Introduction</h1>
        <p class="lead">
            Congratulations! What you see here is a fragment that is inserted into a page at the server-side.
        </p>
        <hr class="my-4">
        <p>
            This intro box is served by the FragmentServer's /intro resource.
        </p>
        <p>
            If this content is not available, the ComposerServer will display a fallback content instead of this
            text, telling you to startup the FragmentServer.
        </p>
        <p>
            Below, you should see some panels containing one or more 'hello world' snippets.
        </p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="https://github.com/otto-d/rx-composer/blob/master/doc/EXAMPLES.md" role="button">Learn more</a>
        </p>
    </div>

