<html xmlns:th="http://www.thymeleaf.org" xmlns:rxc="https://github.com/otto-de/rx-composer">
    <!--
    Example for a Thymeleaf fragment that is supporting a debugMode variable to optionally render some additional
    information for the content.

    If debugMode is false, the content for the given position is simply rendered using rxc:fragment. Instead of this,
    you could also render the content using th:utext="${contents.getBody(position)}
    -->
    <div th:fragment="fragment(position)">
        <rxc:fragment th:if="${!debugMode}" position="${position}" />
        <th:block th:if="${debugMode}" th:with="content = ${contents.get(position)}">
                <div style="border-style: solid; border-width: thin; border-color: red">
                    <rxc:fragment position="${position}"><em>No Content available</em></rxc:fragment>
                    <ul style="border-top-style: solid; border-top-width: thin; border-color: red; color: red; font-size: small">
                        <th:block th:if="${content.isComposite()}">
                            <li>Source:
                                <ul>
                                    <li th:each="content : ${content.asComposite().getContents()}">
                                        <span th:text="${content.getSource()}">content source</span>
                                        <span th:text="' (runtime: ' + ${content.getTotalRuntime()} + 'ms)'">(runtime: 100ms)</span>
                                    </li>
                                </ul>
                            </li>
                            <li># Contents: <span th:text="${content.asComposite().getContents().size()}"></span></li>
                            <li>Avg. Runtime: <span th:text="${content.getAvgRuntime()}"></span>ms</li>
                            <li>Total Runtime: <span th:text="${content.getTotalRuntime()}"></span>ms</li>
                        </th:block>
                        <th:block th:if="${!content.isComposite()}">
                            <li>Source: <span th:text="${content.getSource()}"></span></li>
                            <li>Total Runtime: <span th:text="${content.getTotalRuntime()}"></span>ms</li>
                        </th:block>
                    </ul>
                </div>
        </th:block>
    </div>



    <!--
    Example for a Thymeleaf fragment that is supporting a debugMode variable to optionally render some statistics
    about the performance of the whole page.

    If debugMode is false, nothing is rendered into the page.
    -->
    <div th:fragment="statistics">

        <div th:if="${debugMode}" th:with="stats = ${contents.getStats()}" class="panel panel-default" style="border-style: solid; border-width: thin; border-color: red; color: red; font-size: small">
            <div class="panel-heading">
                <h3 class="panel-title">Page Stats</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                        <ul>
                            <li># requested: <span th:text="${stats.numRequested}"></span></li>
                            <li># available: <span th:text="${stats.numNonEmpty}"></span></li>
                            <li># fallbacks requested: <span th:text="${stats.numFallbacksRequested}"></span></li>
                            <li># fallbacks available: <span th:text="${stats.numNonEmptyFallbacks}"></span></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul>
                            <li># empty: <span th:text="${stats.numEmpty}"></span></li>
                            <li># errors: <span th:text="${stats.numErrors}"></span></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul>
                            <li>Avg non-empty runtime: <span th:text="${stats.avgNonEmptyMillis}"></span>ms</li>
                            <li>Max non-empty runtime: <span th:text="${stats.maxNonEmptyMillis}"></span>ms (<span th:text="${stats.slowestFragment}"></span>)</li>
                            <li>Total runtime w/o rendering: <span th:text="${stats.runtime}"></span>ms</li>
                            <li>Total runtime w/ rendering: <span th:text="${stats.totalRuntime}"></span>ms</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:fragment="fallback-intro">

        <div class="jumbotron">
            <h1 class="display-3">RxComposer - Introduction</h1>
            <p class="lead">You currently see a page that is rendered by rx-composer. </p>
            <hr class="my-4">
            <p>It seems, that the FragmentServer is currently not running or, for some reason, the /intro fragment
            timed out.</p>
            <p>
                This intro block is served as a fallback, if the /intro fragment is not available. You can find it
                in fragments.html.
            </p>
            <p>
                Fallbacks can be generated in different ways. This part is generated by the following element in
                content.html:
            </p>
            <pre><code>
                    &lt;rxc:fragment position="INTRO"&gt;
                        &lt;div class="panel-body" th:include="fragments :: fallback-intro"&gt;&lt;/div&gt;
                    &lt;/rxc:fragment&gt;
            </code></pre>
            <p>
                The rxc:fragment is marking the position, where the rx-composer fragment named INTRO is inserted.
                If this fragment is not available, the body of the rxc:fragment is rendered.
            </p>
            <p>
                Please now start the FragmentServer and reload the page...
            </p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
            </p>
        </div>

    </div>

</html>