<html xmlns:th="http://www.thymeleaf.org" xmlns:rxc="https://github.com/otto-de/rx-composer">
    <!--
    Example for a Thymeleaf fragment that is supporting a debugMode variable to optionally render some additional
    information for the content.

    If debugMode is false, the content for the given position is simply rendered using rxc:fragment. Instead of this,
    you could also render the content using th:utext="${contents.getBody(position)}
    -->
    <div th:fragment="fragment(position)">
        <rxc:fragment th:if="${!debugMode}" position="${position}" />
        <th:block th:if="${debugMode}" th:with="content = ${contents.get(position)}">
                <div style="border-style: solid; border-color: red">
                    <rxc:fragment position="${position}" />
                    <ul style="border-top-style: solid; color: red; font-size: x-small">
                        <li>Source: <span th:text="${content.getSource()}"></span></li>
                        <li th:if="${content.isComposite()}"># Contents: <span th:text="${content.asComposite().getContents().size()}"></span></li>
                        <li th:if="${content.isComposite()}">Avg. Runtime: <span th:text="${content.getAvgRuntime()}"></span>ms</li>
                        <li>Total Runtime: <span th:text="${content.getTotalRuntime()}"></span>ms</li>
                    </ul>
                </div>
        </th:block>
    </div>
</html>